.employee-new-user form{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.employee-new-user form  div{
    margin-bottom: 5px
}
.employee-new-user form  input{
    padding: 13px;
    width: 218px;
}
.employee-new-user .add-employee{
    width: 252px !important;
    background-color: #162b4c;
}
.employee-error-text{
    margin: 0px;
    font-size: 11px;
    color: red  ;
    margin-top: -8px;
}
.employee-table .MuiTableCell-root div{
  justify-content: center;
}
.MuiTableHead-root th{
    text-align: center;
}
.stack-alert-employee .MuiSnackbar-root{
    width: 386px !important;
    top:-75% !important;
    height: 300px !important;
    left:36% !important;
}
.login-logo {
    width: 218px;
    height: auto;
    position: absolute;
    top: 16%;
    left: 75px;
}

.logo-icon-login-form {
    display: flex;
    justify-content: center;
    margin-bottom: 87px;
}

.logo-icon-login-form img {
    width: 112px;
}
.login-error-text {
    margin: 0px !important;
    font-size: 13px;
    color: red;
    margin-top: 0 !important;
}
.add-employee-alert  .MuiSnackbar-root{
    width: 386px !important;
    height: 300px !important;
    top: -88% !important;
    left: 83%!important;
}
.add-employee-alert .MuiPaper-root{
    background-color: #218126;
    color: white;
}
.add-employee-alert svg{
    color:white;
}
.employee-new-user .employee-img-upload{

}
.employee-new-user .employee-img-upload input{
    color: white;
}
.employee-new-user .employee-img-upload input #file-upload-button{
    background-color: transparent;
}
.employee-new-user .preview-img{
    background-color: transparent;
    box-shadow: none;
    padding: 0px;
    border-radius: 50px;
    margin-bottom: 14px;
    margin-top: -18px;
    padding: 0px;
}
.employee-new-user .upload-img{
    background-color: transparent;
    box-shadow: none;
    padding: 0px;
    border-radius: 50px;
    border: 1px solid #162b4c;
    margin-bottom: 14px;
    margin-top: -18px;
    padding: 9px;
}
.employee-new-user .upload-img img{
    width: 80px;
}
.employee-img-upload .preview-img img{
    width: 156px;
    border-radius: 15px;
}
.employee-img-upload h6{
    margin: 0px;
    margin-bottom: 10px;
    margin-left: 11px;
    margin-top: -7px;
    font-size: 14px;
    font-weight: normal;
}

.employee-img-upload .employee-new-user form div{
    display: flex;
    flex-direction: column;
}